//====== My variable =========
$primary-color: #fec524;
$text-color: #333333;

//====== My variable end ============

//====== Multi CSS =========
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute($dir) {
  position: absolute;
  @if $dir == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
  }

  @if $dir == 'horizon' {
    left: 50%;
    transform: translateX(-50%);
  }
  
}

//====== Multi CSS end ==========

// ===== Start CSS =============
* {
  font-family: 'Quicksand', sans-serif;
} 

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
// ===== Start CSS end =============

// ===== Genaral CSS =============