.container {
  max-width: 1200px;
}

.line {
  width: 100%;
  height: 1px;
  background: #e1e3e4;
}

.line-dash {
  width: 68px;
  height: 2px;
  border-top: 2px dashed $primary-color;
  padding-bottom: 20px;
  position: relative;
  transition: 00.2s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    top: 2px;
    background: $primary-color;
    transition: 00.2s;
      transform-origin: 50% 50%;
      transform: translateX(-50%);
  }
}

.title-font {
  font-family: 'Lobster', sans-serif;
}

.btn-primary {
  font-size: 14px;
  color: $text-color;
  width: max-content;
  height: 40px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  background: $primary-color;
  border-radius: 50px;
  transition: 0.4s;

  &:hover {
    color: #fff;
    background: $primary-color;
  }
}

// product
.btn-order {
  border: 1px solid $primary-color;
  color: $primary-color;
  height: 33px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  transition: 0.4s;

  &:hover {
    background: $primary-color;
    color: #fff;

    .plus {
      display: none;
    }

    i {
      display: block;
      margin-left: 9.5px;
      font-size: 20px;
    }
  }
}

.product {
  background: #fff;
}

.slick-arrow {
  font-size: 30px;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 30px);
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: $primary-color;
    color: #fff;
  }
}

.prev-arrow {
  left: 50%;
  transform: translateX(calc(-50% - 35px));
}

.next-arrow {
  left: 50%;
  transform: translateX(calc(-50% + 35px));
}

.product-img {
  padding: 15px;
}

.product-info {
  padding: 20px;
}

.product-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    color: $primary-color;
  }
}

.product-order {
  .plus {
    font-size: 10px;
  }
}
