.header-section {
  height: 74px;
  background: #000;
}

.header-logo {
  max-width: 95px;
}

.header-navbar a:hover {
  color: $primary-color;
  transition: 0.4s;
}

.header-navbar__item:not(:last-child) {
  margin-right: 40px;
}

.header-btn__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 3px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  > i {
    font-size: 2rem;
  }
}

.header-btn__icon:not(:last-child) {
  margin-right: 10px;
}

.header-subnav {
  width: 200px;
  background: #1b1f28;
  padding: 10px 0;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: 1;

  .header-navbar__item:hover & {
    visibility: visible;
    opacity: 1;
  }
}

.header-subnav__item {
  padding: 5px 20px;
}

.header-modal {
  top: 100%;
  right: 15px;
  padding: 20px 0;
  cursor: default;
  border-radius: 3px;
  transition: 00.4s;
  background: #fff;
  transform: scale(0);
  z-index: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  }
}

.header-cart__modal {
  width: 448px;

  &::before {
    right: 24%;
  }
}

.header-btn__icon--active .header-modal {
  transform: scale(1);
}

.header-cart__name {
  margin: 0 20px 10px 20px;
  height: 38px;
  background: #f3f5f6;
  border-radius: 3px;
}

.header-cart__list {
  padding: 0 20px 10px 20px;
}

.header-cart__no-product {
  i {
    font-size: 4rem;
    padding: 20px 0 10px;
  }
}

.header-cart__payment {
  padding: 20px;
}

.header-cart__payment-total {
  color: red;
}

.header-cart__buttons {
  padding: 0 20px;
}

.header-cart__btn {
  height: 40px;
  flex: 1;
  background: $primary-color;
}

.header-btn__icon-search {
}

.header-search__modal {
  width: 400px;
  padding: 20px 15px;

  &::before {
    right: 15%;
  }
}

.header-search__title {
  font-size: 17px;
  margin-bottom: 10px;
}

.header-search__search-bar {
  margin: 20px 0 10px;

  input {
    height: 45px;
    padding: 0 45px 0 20px;
    outline: none;
  }

  i {
    font-size: 2.5rem;
    right: 10px;
  }
}

.header-account {
  width: 278px;
  padding: 20px 15px;

  input {
    height: 42px;
    outline: none;
    padding: 0 10px;
  }

  &::before {
    right: 3.5%;
  }
}

.header-account__login {
  height: 42px;
  background: $primary-color;
  border-radius: 50px;
}