.header-section {
  height: 74px;
  background: #000;
}

.header-logo {
  max-width: 95px;
}

.header-navbar a:hover {
  color: $primary-color;
  transition: 0.4s;
}

.header-navbar__item:not(:last-child) {
  margin-right: 40px;
}

.header-btn__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 3px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  i {
    font-size: 2rem;
  }
}

.header-btn__icon:not(:last-child) {
  margin-right: 10px;
}

.header-subnav {
  width: 200px;
  background: #1b1f28;
  padding: 10px 0;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;

  .header-navbar__item:hover & {
    visibility: visible;
    opacity: 1;
  }
}

.header-subnav__item {
  padding: 5px 20px;
}

.header-cart__modal {
  width: 448px;
  height: 300px;
  background: #fff;
  top: 100%;
  right: 20px;
} 