// banner
.banner-slider {
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  li[role="presentation"] {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.slick-active {
      background: $primary-color;
    }

    button {
      font-size: 0;
      border: none;
      width: 100%;
      height: 100%;
      background: transparent;
      outline: none;
    }
  }
}

.banner-slider__container {
  padding-top: 39.06%;
  position: relative;

  img {
    position: absolute;
    top: 0;
  }
}

// welcome
.welcome {
  padding: 85px 0 50px;
  background: #f7f7f7;
}

.welcome-img {
  max-width: 380px;
}

.welcome-icons {

  &__wrap {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin-right: 20px;
    border-radius: 50px;
    transition: 0.4s;

    &:hover {
      border: 2px solid $primary-color;

      i {
        color: $primary-color;
      }
    }
  }

  i {
    font-size: 5rem;
    transition: 0.4s;
  }
}

// box image 
.box-img {
  padding: 60px 0;
}

.box-img__img {
  border: 8px solid $primary-color;
}

// today menu
.today-menu {
  min-height: 778px;
  padding: 80px 0;
}

.today-menu__heading {

}

.today-menu__category {
  margin: 45px 0;
}

// banner promotion
.banner-promotion {
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  background-blend-mode: multiply;
  min-height: 396px;
}

.banner-promotion__content {

}

.banner-promotion__title {

}

.banner-promotion__btn {
  border: 2px solid #fff;

  &:hover {
    border: 2px solid $primary-color;
  }
}

// new products
.new-products {
  min-height: 660px;
  padding: 80px 0;
}

.new-products__heading {
  margin-bottom: 48px;
}

// category pizza
.category-pizza {
  padding: 80px 0;
}

.category-pizza__heading {
  margin-bottom: 48px;
}

.category-pizza__content {

}

.category-pizza__img {

}

.category-pizza__text {
  padding: 30px 20px 20px;
  box-shadow: 0 0 20px 0 rgba(89, 89, 89, 0.1);
}

.category-pizza__title {

}

.category-pizza__list {
  list-style: disc;
  list-style-position: inside;
}

// sale product bưởi
.sale-products {
  padding: 80px 0 50px;

  .product {
    border: 1px solid #e1e3e4;
    margin-bottom: 30px;
  }
}

.sale-products__heading {
  margin-bottom: 46px;
}

// feedback
.feedback {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  
  
  .container-wrap {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 80px 0;
  }
}

.feedback-heading {
  margin-bottom: 5.2rem;
}

.feedback-slider {
  .slick-arrow {
    top: unset;
    bottom: 0;
  }

  .slick-slide {
    opacity: 0.1;
  }

  .slick-center {
    opacity: 1;
  }
}

.feedback-customer {

}

.feedback-quote {
  line-height: 2.2;
  margin-bottom: 5rem;
}

.feedback-customer-img {
  border-radius: 50px;
}

.feedback-customer-name {
  margin-top: 2rem;
  margin-bottom: .4rem;
}

.feedback-customer-work {
  margin-bottom: 8rem;
}

// logo section
.logos-section {
  padding: 30px 0 60px;
}

.logos-slider {
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  li[role="presentation"] {
    width: 10px;
    height: 10px;
    background: $primary-color;
    opacity: 0.2;
    border-radius: 50px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.slick-active {
      background: $primary-color;
      opacity: 1;
    }

    button {
      font-size: 0;
      border: none;
      width: 100%;
      height: 100%;
      background: transparent;
      outline: none;
    }
  }
}

.slider-logos__img {
  img {
    max-width: 165px;
    margin: 0 auto;
  }
}

// policy
.policy {
  padding: 80px 0;
  background-attachment: fixed;
} 

.policy-heading {
  margin: 0;
}

.policy-box {
  &:hover {
    .line-dash {
      width: 0;

      &::after {
        width: 68px;
      }
    }
  }
}

.policy-box__img {
  padding: 46px 0 26px;

  img {
    max-width: 60px;
    margin: 0 auto;
  }
}

.policy-box__title {
  font-size: 22px;
  margin-bottom: 15px;
}

.policy-box__description {

}

// news
.news {
  padding: 80px 0;
}

.news-heading {
  margin-bottom: 50px;
}

.news-content {
  
}

.news-content__img {
  padding-top: 56.25%;
  position: relative;

  img {
    position: absolute;
    top: 0;
  }
}

.news-content__text {
  padding: 18px;
}

.news-content__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-bottom: 20px;

  a:hover {
    transition: 0.4s;
    color: $primary-color;
  }
}

.news-content__expert {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 15px;
}

.news-content__link {
  margin: 0 auto;
}

// newsletter
.newsletter {
  background: #000;
  padding: 40px 0;
}

.newsletter-heading {
  margin-bottom: 15px;
}

.newsletter-input {
  height: 45px;
  flex: 1;
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
}

.newsletter-btn {
  width: 86px;
  height: 45px;
  border: none;
  font-size: 13px;
  background: $primary-color;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

// footer main
.footer-main {
  padding: 40px 0;
}

.footer-heading {
  margin-bottom: 25px;
}

.footer-introduce {

}

.footer-logo-signed {
  display: block;
  max-width: 150px;
}

.footer-link__item {
  margin-bottom: 8px;
}

.footer-contact {
  i {
    margin-right: 10px;
  }
}

.copyright {
  height: 64px;

  span {
    margin-left: 4px;
  }

  span:hover {
    color: $primary-color;
    transition: 0.2s;
  }
}
