* {
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* atomic */
.bold {
  font-weight: 700;
}

.img-reset {
  display: block;
  max-width: 100%;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.horizon-center {
  left: 50%;
  transform: translateX(-50%);
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.decoration-none {
  text-decoration: none;
}

.m-auto {
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.primary-text-color {
  color: #fec524;
}

.text-color {
  color: #333333;
}

.white-text {
  color: #fff;
}

.text-red {
  color: #ef233c;
}

.m-0-auto {
  margin: 0 auto;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-31 {
  font-size: 31px;
}

.line {
  width: 100%;
  height: 1px;
  background: #e1e3e4;
}

.title-font {
  font-family: "Lobster", sans-serif;
}

.btn-primary {
  font-size: 14px;
  color: #333333;
  width: max-content;
  height: 40px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  background: #fec524;
  border-radius: 50px;
  transition: 0.4s;
}
.btn-primary:hover {
  color: #fff;
  background: #fec524;
}

.btn-order {
  border: 1px solid #fec524;
  color: #fec524;
  height: 33px;
  padding: 0 18px;
  display: flex;
  align-items: center;
}

.product {
  background: #fff;
}

.product-slider .slick-arrow {
  font-size: 30px;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% + 30px);
}
.product-slider .prev-arrow {
  left: 50%;
  transform: translateX(-30px);
}
.product-slider .next-arrow {
  left: 50%;
  transform: translateX(30px);
}

.product-img {
  padding: 15px;
}

.product-info {
  padding: 20px;
}

.product-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.header-section {
  height: 74px;
  background: #000;
}

.header-logo {
  max-width: 95px;
}

.header-navbar a:hover {
  color: #fec524;
  transition: 0.4s;
}

.header-navbar__item:not(:last-child) {
  margin-right: 40px;
}

.header-btn__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 3px;
}
.header-btn__icon:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header-btn__icon > i {
  font-size: 2rem;
}

.header-btn__icon:not(:last-child) {
  margin-right: 10px;
}

.header-subnav {
  width: 200px;
  background: #1b1f28;
  padding: 10px 0;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.header-navbar__item:hover .header-subnav {
  visibility: visible;
  opacity: 1;
}

.header-subnav__item {
  padding: 5px 20px;
}

.header-modal {
  top: 100%;
  right: 15px;
  padding: 20px 0;
  cursor: default;
  border-radius: 3px;
  transition: 0.4s;
  background: #fff;
  transform: scale(0);
}
.header-modal::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.header-cart__modal {
  width: 448px;
}
.header-cart__modal::before {
  right: 24%;
}

.modal-visible {
  transform: scale(1);
}

.header-cart__name {
  margin: 0 20px 10px 20px;
  height: 38px;
  background: #f3f5f6;
  border-radius: 3px;
}

.header-cart__list {
  padding: 0 20px 10px 20px;
}

.header-cart__no-product i {
  font-size: 4rem;
  padding: 20px 0 10px;
}

.header-cart__payment {
  padding: 20px;
}

.header-cart__payment-total {
  color: red;
}

.header-cart__buttons {
  padding: 0 20px;
}

.header-cart__btn {
  height: 40px;
  flex: 1;
  background: #fec524;
}

.header-search__modal {
  width: 400px;
  padding: 20px 15px;
}
.header-search__modal::before {
  right: 15%;
}

.header-search__title {
  font-size: 17px;
  margin-bottom: 10px;
}

.header-search__search-bar {
  margin: 20px 0 10px;
}
.header-search__search-bar input {
  height: 45px;
  padding: 0 45px 0 20px;
  outline: none;
}
.header-search__search-bar i {
  font-size: 2.5rem;
  right: 10px;
}

.header-account {
  width: 278px;
  padding: 20px 15px;
}
.header-account input {
  height: 42px;
  outline: none;
  padding: 0 10px;
}
.header-account::before {
  right: 3.5%;
}

.header-account__login {
  height: 42px;
  background: #fec524;
  border-radius: 50px;
}

.banner-slider .slick-dots {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.banner-slider li[role=presentation] {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50px;
}
.banner-slider li[role=presentation]:not(:last-child) {
  margin-right: 10px;
}
.banner-slider li[role=presentation].slick-active {
  background: #fec524;
}
.banner-slider li[role=presentation] button {
  font-size: 0;
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
}

.banner-slider__container {
  padding-top: 39.06%;
  position: relative;
}
.banner-slider__container img {
  position: absolute;
  top: 0;
}

.welcome {
  padding: 85px 0 50px;
  background: #f7f7f7;
}

.welcome-img {
  max-width: 380px;
}

.welcome-icons__wrap {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  margin-right: 20px;
  border-radius: 50px;
}
.welcome-icons i {
  font-size: 5rem;
}

.box-img {
  padding: 60px 0;
}

.box-img__img {
  border: 8px solid #fec524;
}

.today-menu {
  min-height: 778px;
  padding: 80px 0;
}

.today-menu__category {
  margin: 45px 0;
}

.banner-promotion {
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 50%;
  background-blend-mode: multiply;
  min-height: 396px;
}

.banner-promotion__btn {
  border: 2px solid #fff;
}
.banner-promotion__btn:hover {
  border: 2px solid #fec524;
}

/*# sourceMappingURL=style.css.map */
